.slider-container{
    height: auto;
    width: 100%;
    padding-top: 22px;
    padding-left: 40px;
    padding-right: 40px;
}

@media (max-width: 991.98px) { 
    .slider-container{
        max-height: 300px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .imagen-slider{
        height: 115px;
    }
}