{% extends 'base.html.twig' %}

{% block title %}Productos por categoria - TiendaKS!{% endblock %}

{% block body %}
    <div class="container">
        <p class="fs-2 fw-bold text-uppercase">Backend : Crear vista de productos clasificados por categoría con menú de filtros</p>
        <div id="app3"></div>
    </div>
{% endblock %}