{% extends 'base.html.twig' %}

{% block title %}TiendaKS - global{% endblock %}

{% block body %}

<a href="{{ path('app_carrito_mostrar_vista_carrito') }}">Ver mi carrito</a>
<a href="{{ path('app_logout') }}">Cerrar sesión</a>
<div id="approducto"></div>
{% endblock %}