{% extends 'base.html.twig' %}

{% block title %}Categoria: {{ categoria|capitalize }} - TiendaKS!{% endblock %}

{% block body %}
    <div id="producto_por_categoria_producto_listar_producto_por_categoria" class="mt-2" data-categoria="{{ categoria }}"></div>
{% endblock %}