{% extends 'base.html.twig' %}

{% block title %}Ver producto - TiendaKS!{% endblock %}

{% block body %}
    <div id="ver_producto_producto_mostar_producto_por_id" class="mt-2" data-producto-id="{{ producto_id }}"></div>
{% endblock %}