{% extends 'base.html.twig' %}

{% block title %}Inicio - TiendaKS!{% endblock %}

{% block body %}
    <div id="inicio_producto_listar_categoria"></div>
    <div id="inicio_producto_listar_producto_limitado_a_cuatro" class="mt-3"></div>
    <div id="inicio_producto_listar_producto_oferta_limitado_a_cuatro" class="mt-3"></div>
    <div id="inicio_producto_listar_categoria_limitado_a_cinco" class="mt-3"></div>
    <div id="inicio_producto_listar_categoria_mas_valorada" class="mt-3"></div>
{% endblock %}  

