{% extends 'base.html.twig' %}

{% block title %}
  Hello CarritoController!
{% endblock %}

{% block body %}
  {% set name = 'World' %}
  {% set papitas = ['fritas', 'picantes', 'con queso', 'tocosh'] %}
{% set papitasObjeto = {
  'Perfil': {
    'nombre': 'Josue',
    'apellido': 'Chambilla',
  },
  'Celular': '982531296',
  'Correo': 'josue123@hotmail.com',
} %}  
  <div id="app3" 
  
    data-my-variable="{{ name }}" 
    data-papitas="{{ papitas | json_encode }}"
    data-producto="{{ papitasObjeto | json_encode }}"
  ></div>
   <div id="app4" @login-submitted="handleLoginData"
  ></div>


{% endblock %}
