{% extends 'base.html.twig' %}

{% block title %}TiendaKS - carrito{% endblock %}

{% block body %}

{% if app.session.get('comprar') %}
    {% if app.session.get('iniciarsesion') %}
        <div class="alert alert-success">
            Se necesita iniciar sesion para realizar la compra, redireccionando ...
        </div>
        <script>
            setTimeout(() => {
                window.location.href = "{{ path('app_login') }}";
            }, 5000); 
        </script>  
    {% else %}
    <div id="appcarrito" metodo-compra=""></div>
    {% endif %}
    {% else %}
    {% if app.session.get('comprar') is null %}
        <div id="appcarrito"></div>
    {% endif %}
{% endif %}
{% endblock %}
