{% extends 'base.html.twig' %}

{% block title %}TiendaKS - carrito{% endblock %}

{% block body %}

<form method="post"> 
    <button type="submit">Realizar compra</button>
  </form>
{% if iniciarSesion %}
    <div class="alert alert-success">
        Se necesita iniciar sesion para realizar la compra, redireccionando ...
    </div>
    <script>
        setTimeout(() => {
            window.location.href = "{{ path('app_login') }}";
        }, 5000); 
    </script> 
{% else %}

    
{% endif %}
<div id="appcarrito"></div>
{% endblock %}
