{% extends 'base.html.twig' %}

{% block title %}
  Hello Frontends
{% endblock %}

{% block body %}
  {{ parent() }}

   {% include "./frontend/layout/slider.html.twig" %}

  <div id="TarjetasProductos"></div>
  <div id="TarjetasOfertas"></div>
  <div id="popup_carrito"></div>

  <div class="container mt-4">
    <div class="d-flex justify-content-start align-items-baseline mb-2">
      <span class="fs-4 fw-semibold me-2">Consiguelo Aqui</span>
    </div>
    <div class="container d-lg-flex d-md-flex d-sm-flex justify-content-center p-0 w-100">
      <div class="row col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center align-content-center">
        <div class="col-lg-3 d-lg-block ps-lg-3 pe-lg-0 pt-lg-3 pb-lg-3 d-none">
          <div class="card text-bg-primary">
            <img src="..." class="card-img" alt="..." style="height: 417px;" />
            <div class="card-img-overlay">
              <h5 class="card-title">Mejora tu espacio , mejora tu bienestar</h5>
              <p class="card-text">Comprar Ahora.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-12 pe-lg-0 ps-lg-3 pt-lg-3 pb-lg-3 p-md-0 pb-2">
          <div class="card text-bg-warning">
            <img src="..." class="card-img" alt="..." style="height: 417px; width:100%" />
            <div class="card-img-overlay">
              <h5 class="card-title">Cocina con facilidad y estilo</h5>
              <p class="card-text">Comprar Ahora.</p>
            </div>
          </div>
        </div>
      <div class="col-lg-4 col-md-12 col-12">
          <div class="row">
            <div class="col-12 pb-2 p-lg-3 py-md-3 px-md-0">
              <div class="card bg-dark text-white">
                <img src="..." class="card-img" alt="..." style="height: 192px;" />
                <div class="card-img-overlay">
                  <h5 class="card-title">Disfruta mas de tu hogar</h5>
                  <p class="card-text">Comprar Ahora.</p>
                </div>
              </div>
            </div>
            <div class="container col-lg-12 col-md-12 col-12">
              <div class="row">
                <div class="col-lg-6 ps-lg-3 pe-lg-2 col-6 ps-md-0 pe-md-2 col-sm-6 col-sm-6">
                  <div class="card bg-info">
                    <img src="..." class="card-img" alt="..." style="height: 209px;" />
                    <div class="card-img-overlay d-grid align-content-end">
                      <h5 class="card-title">Siéntete cómoda y segura</h5>
                      <p class="card-text">Comprar Ahora</p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 ps-lg-2 pe-lg-3 col-6 ps-md-2 pe-md-0 col-sm-6">
                  <div class="card bg-success">
                    <img src="..." class="card-img" alt="..." style="height: 209px;" />
                    <div class="card-img-overlay">
                      <h5 class="card-title">Luce elegante y siéntete bien</h5>
                      <p class="card-text">Comprar Ahora</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
{% endblock %}
