{% extends 'base.html.twig' %}

{% block title %}Hello Frontends{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    {{ parent() }}


    <div id="popup_carrito">
    </div>
{% endblock %}
