{% extends 'base.html.twig' %}

{% block title %}
  Hello Frontends
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
{% endblock %}

{% block body %}
  {{ parent() }}

  {% include './frontend/layout/slider.html.twig' %}

  <div class="container mt-4">
    <div class="d-flex justify-content-start align-items-baseline mb-4">
      <span class="fs-4 fw-semibold me-2">Productos</span>
      <span><a href="#" class="fs-6 fw-semibold">Ver mas</a></span>
    </div>

    <div id="TarjetasProductos"></div>
  </div>

  <div class="container mt-4">
    <div class="d-flex justify-content-start align-items-baseline mb-4">
      <span class="fs-4 fw-semibold me-2">Ofertas</span>
      <span><a href="#" class="fs-6 fw-semibold">Ver todas las Ofertas</a></span>
    </div>

    <div id="TarjetasOfertas"></div>
  </div>

  <div id="popup_carrito"></div>

  <div class="container mt-4">
    <div class="d-flex justify-content-start align-items-baseline mb-2">
      <span class="fs-4 fw-semibold me-2">Consiguelo Aqui</span>
    </div>
    <div class="container d-lg-flex d-md-flex d-sm-flex justify-content-center p-0 w-100">
      <div class="row col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center align-content-center">
        <div class="col-lg-3 d-lg-block ps-lg-3 pe-lg-0 pt-lg-3 pb-lg-3 d-none">
          <div class="card text-black">
            <img src="img/tiendaks/producto/baños.jpg" class="card-img border border-0" alt="..." style="height: 417px;" />
            <div class="card-img-overlay">
              <p class="card-title size-22 fw-semibold">Mejora tu espacio , mejora tu bienestar</p>
              <a href=""><p class="size-14 fw-semibold card-text text-black text-decoration-underline">Comprar Ahora.</p></a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-12 pe-lg-0 ps-lg-3 pt-lg-3 pb-lg-3 p-md-0 pb-2">
          <div class="card text-white">
            <img src="img/tiendaks/producto/cocina.jpg" class="card-img" alt="..." style="height: 417px; width:100%" />
            <div class="card-img-overlay">
              <h5 class="card-title col-6 fs-3 fw-semibold">Cocina con facilidad y estilo</h5>
              <a href=""><button type="button" class="card-text btn text-white py-0 px-2 border-white button-enlace">Comprar Ahora</button></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-12">
          <div class="row">
            <div class="col-12 pb-2 p-lg-3 py-md-3 px-md-0">
              <div class="card text-white">
                <img src="img/tiendaks/producto/electrodomesticos.jpg" class="card-img" alt="..." style="height: 192px;" />
                <div class="card-img-overlay">
                  <h5 class="card-title">Disfruta mas de tu hogar</h5>
                  <a href=""><p class="size-14 fw-semibold card-text text-white text-decoration-underline">Comprar Ahora.</p></a>
                </div>
              </div>
            </div>

            <div class="container col-lg-12 col-md-12 col-12">
              <div class="row">
                <div class="col-lg-6 ps-lg-3 pe-lg-2 col-6 ps-md-0 pe-md-2 col-sm-6 col-sm-6">
                  <div class="card text-white">
                    <img src="img/tiendaks/producto/ropadeportivamujer.jpg" class="card-img" alt="..." style="height: 209px;" />
                    <div class="card-img-overlay d-grid align-content-end">
                      <h5 class="card-title">Siéntete cómoda y segura</h5>
                      <a href=""><p class="size-14 fw-semibold card-text text-white text-decoration-underline">Comprar Ahora.</p></a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 ps-lg-2 pe-lg-3 col-6 ps-md-2 pe-md-0 col-sm-6">
                  <div class="card text-white">
                    <img src="img/tiendaks/producto/zapatoscalle.jpg" class="card-img" alt="..." style="height: 209px;" />
                    <div class="card-img-overlay">
                      <h5 class="card-title">Luce elegante y siéntete bien</h5>
                      <a href=""><p class="size-14 fw-semibold card-text text-white text-decoration-underline">Comprar Ahora.</p></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">    
    <div class="col">
      <a href="www.google.com"><button type="button" class="button-login-index btn fw-semibold size-22 text-white col-12 border border-0"><p class="p-0 m-0">Ingresa con tu Cuenta para recibir mejores recomendaciones</p></button></a>
    </div>
  </div>

  <div class="container mt-4">
    <div class="d-flex justify-content-start align-items-baseline mb-4">
      <span class="fs-4 fw-semibold me-2">Mejores Marcas</span>
    </div>

    <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-2 g-4">
      <div class="col d-lg-block d-md-block d-sm-block">
        <div class="card h-100 p-2">
          <img src="img/tiendaks/producto/marcahuawei.jpeg" class="card-img-top img-marca" alt="..." />
          <div class="card-body contenido-marca pt-3 pb-1">
            <div class="row g-2 justify-content-center">
              <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center">
                <p class="fs-3 fw-semibold mb-2">Huawei</p>
              </div>
              <div class="col-lg-12 col-md-12 col-12">
                <p class="config-truncate m-0 fw-semibold">llevar lo digital a cada persona, hogar y organización para un mundo completamente conectado llevar lo digital a cada persona, hogar y organización para un mundo completamente conectado</p>
              </div>
              <div class="col-lg-4 col-md-4 col-6 d-lg-inline d-md-inline d-none justify-content-center">
                <img class="img-fluid p-1" src="img/tiendaks/producto/meme.jpg" alt="" />
              </div>
              <div class="col-lg-4 col-md-4 col-6 d-lg-inline d-md-inline d-none justify-content-center">
                <img class="img-fluid p-1" src="img/tiendaks/producto/meme.jpg" alt="" />
              </div>
              <div class="col-lg-4 col-md-4 col-6 d-lg-inline d-md-inline d-none justify-content-center">
                <img class="img-fluid p-1" src="img/tiendaks/producto/meme.jpg" alt="" />
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center mt-4">
                <a href="" class="text-decoration-none"><p class="text-body-secondary">Ver tienda</p></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col d-lg-block d-md-block d-sm-block">
        <div class="card h-100 p-2">
          <img src="img/tiendaks/producto/SamsungLogo.jpg" class="card-img-top img-marca" alt="..." />
          <div class="card-body contenido-marca pt-3 pb-1">
            <div class="row g-2 justify-content-center">
              <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center">
                <p class="fs-3 fw-semibold mb-2">Huawei</p>
              </div>
              <div class="col-lg-12 col-md-12 col-12">
                <p class="config-truncate m-0 fw-semibold">llevar lo digital a cada persona, hogar y organización para un mundo completamente conectado llevar lo digital a cada persona, hogar y organización para un mundo completamente conectado</p>
              </div>
              <div class="col-lg-4 col-md-4 col-6 d-lg-inline d-md-inline d-none justify-content-center">
                <img class="img-fluid p-1" src="img/tiendaks/producto/meme.jpg" alt="" />
              </div>
              <div class="col-lg-4 col-md-4 col-6 d-lg-inline d-md-inline d-none justify-content-center">
                <img class="img-fluid p-1" src="img/tiendaks/producto/meme.jpg" alt="" />
              </div>
              <div class="col-lg-4 col-md-4 col-6 d-lg-inline d-md-inline d-none justify-content-center">
                <img class="img-fluid p-1" src="img/tiendaks/producto/meme.jpg" alt="" />
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center mt-4">
                <a href="" class="text-decoration-none"><p class="text-body-secondary">Ver tienda</p></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col d-lg-block d-md-block d-sm-block">
        <div class="card h-100 p-2">
          <img src="img/tiendaks/producto/LGLogo.jpg" class="card-img-top img-marca" alt="..." />
          <div class="card-body contenido-marca pt-3 pb-1">
            <div class="row g-2 justify-content-center">
              <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center">
                <p class="fs-3 fw-semibold mb-2">LG Corporation</p>
              </div>
              <div class="col-lg-12 col-md-12 col-12">
                <p class="config-truncate m-0 fw-semibold">Queremos conservar nuestra reputación, obtenida a base de esfuerzo, como Queremos conservar nuestra reputación, obtenida a base de esfuerzo, como</p>
              </div>
              <div class="col-lg-4 col-md-4 col-6 d-lg-inline d-md-inline d-none justify-content-center">
                <img class="img-fluid p-1" src="img/tiendaks/producto/meme.jpg" alt="" />
              </div>
              <div class="col-lg-4 col-md-4 col-6 d-lg-inline d-md-inline d-none justify-content-center">
                <img class="img-fluid p-1" src="img/tiendaks/producto/meme.jpg" alt="" />
              </div>
              <div class="col-lg-4 col-md-4 col-6 d-lg-inline d-md-inline d-none justify-content-center">
                <img class="img-fluid p-1" src="img/tiendaks/producto/meme.jpg" alt="" />
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center mt-4">
                <a href="" class="text-decoration-none"><p class="text-body-secondary">Ver tienda</p></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col d-lg-block d-md-block d-sm-block">
        <div class="card h-100 p-2">
          <img src="img/tiendaks/producto/BalayLogo.jpg" class="card-img-top img-marca" alt="..." />
          <div class="card-body contenido-marca pt-3 pb-1">
            <div class="row g-2 justify-content-center">
              <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center">
                <p class="fs-3 fw-semibold mb-2">Balay</p>
              </div>
              <div class="col-lg-12 col-md-12 col-12">
                <p class="config-truncate m-0 fw-semibold">ser uno de los principales fabricantes de electrodomésticos del mundo, que ser uno de los principales fabricantes de electrodomésticos del mundo, que</p>
              </div>
              <div class="col-lg-4 col-md-4 col-6 d-lg-inline d-md-inline d-none justify-content-center">
                <img class="img-fluid p-1" src="img/tiendaks/producto/meme.jpg" alt="" />
              </div>
              <div class="col-lg-4 col-md-4 col-6 d-lg-inline d-md-inline d-none justify-content-center">
                <img class="img-fluid p-1" src="img/tiendaks/producto/meme.jpg" alt="" />
              </div>
              <div class="col-lg-4 col-md-4 col-6 d-lg-inline d-md-inline d-none justify-content-center">
                <img class="img-fluid p-1" src="img/tiendaks/producto/meme.jpg" alt="" />
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 d-flex justify-content-center mt-4">
                <a href="" class="text-decoration-none"><p class="text-body-secondary">Ver tienda</p></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <div class="d-flex justify-content-start align-items-baseline mb-4">
      <span class="fs-4 fw-semibold me-2">Categorias Populares</span>
    </div>

    <div id="CategoriasPopulares"></div>
  </div>

  <footer class="text-center text-lg-start text-muted mt-5" style="background-color: #17172B;">
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <div class="me-5 d-none d-lg-block">
        <span class="text-white">Conéctate con nosotros en las redes sociales</span>
      </div>

      <div>
        <a href="" class="mx-3 text-white"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
        <a href="" class="mx-3 text-white"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        <a href="" class="mx-3 text-white"><i class="fa fa-google fa-2x" aria-hidden="true"></i></a>
        <a href="" class="mx-3 text-white"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
        <a href="" class="mx-3 text-white"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
      </div>
    </section>

    <section>
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3 text-white">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">LOGO</h6>
            <p>Somos una empresa confiable enfocada a la venta de productos de todo tipo para poder satisfacer las necesidades del cliente.</p>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">CATEGORIAS</h6>
            <p>
              <a href="#!" class="text-reset">Electrodomésticos</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Celulares</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Baños</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Cocina</a>
            </p>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">ENLACE</h6>
            <p>
              <a href="#!" class="text-reset">Ofertas</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Productos</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Métodos de Pago</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Ayuda</a>
            </p>
          </div>

          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">CONTACTO</h6>
            <p>
              <i class="fa fa-home fa-2x text-white" aria-hidden="true"></i>
              Av La molina 32-A ,Peru
            </p>
            <p>
              <i class="fa fa-envelope fa-2x text-white" aria-hidden="true"></i>
              KsPeru@Ksperu.com
            </p>
            <p>
              <i class="fa fa-phone fa-2x text-white" aria-hidden="true"></i>
              +51 936543645
            </p>
          </div>
        </div>
      </div>
    </section>
  </footer>
  <div class="text-center p-3 piepagina">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://www.ksperu.com/inicio">ksperu.com</a>
  </div>

  <style scoped>
    .button-enlace:hover {
      border-color: #17172B !important;
      background-color: #17172B;
    }
    .piepagina {
      background-color: rgba(0, 0, 0, 0.05) !important;
    }
    
    .button-login-index {
      background-color: #17172b;
    }
    
    .button-login-index:hover {
      background-color: #ffff;
      box-shadow: 0px 5px 5px 0px gray;
    }
    
    .img-marca {
      height: 9.375rem;
    }
    
    .button-login-index:hover p {
      color: #17172b;
    }
    .config-truncate {
      text-align: justify;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    
    @media (max-width: 426.8px) {
      .img-marca {
        height: 90px;
      }
      .contenido-marca {
        padding: 0px;
      }
      .config-truncate {
        font-size: 14px;
        -webkit-line-clamp: 8;
      }
    }
  </style>
{% endblock %}
