{% extends 'base.html.twig' %}

{% block title %}
  Hello Frontends
{% endblock %}

{% block body %}
  {{ parent() }}
  <div id="TarjetasProductos"></div>
  <div id="popup_carrito"></div>
{% endblock %}
