{% extends 'base.html.twig' %}

{% block title %}Perfil de Usuario{% endblock %}

{% block body %}

    {# <div id="perfil_usuario"></div> #}
  {{ parent() }}
    <div id="perfil_usuario"></div>

{% endblock %}
