{% extends 'base.html.twig' %}

{% block title %}Perfil de Usuario{% endblock %}

{% block body %}

    {# <div id="perfil_usuario"></div> #}
  {{ parent() }}
    <div class="container">
        <div class="row mt-3">
            <div class="col-12 col-sm-12 col-md-12 col-lg-3">
                {# Card_PerfilUsuario.vue #}
                <div id="card_perfil_usuario"></div>

                {# Btns_Config.vue #}
                <div id="btns_config_perfil_usuario"></div>

                {# Filtros Avanzados #}
                <div class="card card-filtros-avanzados d-none d-lg-block mt-3">
                    <div class="card-header">
                        <p class="size-16 fw-semibold m-0">Filtros Avanzados</p>
                    </div>
                    <div class="card-body py-1">
                        <div class="my-3">
                            <h5 class="size-16 my-2">Categoria</h5>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="categoria1">
                                <label class="form-check-label" for="categoria1">
                                    Electrodomésticos
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="categoria2">
                                <label class="form-check-label" for="categoria2">
                                    Jardinería
                                </label>
                            </div>
                        </div>
                        <div class="my-3">
                            <h5 class="size-16 my-2">Marca</h5>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="marca1">
                                <label class="form-check-label" for="marca1">
                                    PHILLIPS
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="marca2">
                                <label class="form-check-label" for="marca2">
                                    TOSHIBA
                                </label>
                            </div>
                        </div>
                        <div class="my-3">
                            <h5 class="size-16 my-2">Precio</h5>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="precio1">
                                <label class="form-check-label" for="precio1">
                                    S/. 0.00 - S/. 50.00
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="precio2">
                                <label class="form-check-label" for="precio2">
                                    S/. 50.00 - S/. 100.00
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="precio3">
                                <label class="form-check-label" for="precio3">
                                    S/. 100.00 - S/. 500.00
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="precio4">
                                <label class="form-check-label" for="precio4">
                                    S/. 500.00 a más
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12 col-sm-12 col-md-12 col-lg-9 my-4">
                <div>
                    <div class="productos-venta-head d-flex justify-content-between">
                        <div class="d-flex align-items-start align-items-md-center flex-column flex-md-row">
                            <h1 class="size-22 fw-bolder m-0">Productos en venta</h1>
                            <span class="ms-0 ms-md-3 text-secondary size-14">6 resultados</span>
                        </div>
                        <div class="d-flex align-items-center flex-column flex-md-row">
                            <p class="m-0 text-secondary w-100 size-14 d-none d-md-block">Ordenar por:</p>
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="min-width: 132px">
                                <option selected>Más relevante</option>
                                <option value="1">Menor precio</option>
                                <option value="2">Mayor precio</option>
                            </select>
                        </div>
                    </div>

                    <button class="btn btn-light btn-sm d-block d-lg-none w-100 my-2">
                        <i class="fa-solid fa-filter"></i>   
                        Aplicar filtros avanzado
                    </button>
                </div>

                <div class="productos-venta-body">
                    <div id="card_component"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
