{% extends 'base.html.twig' %}

{% block title %}Perfil de Usuario Settings
{% endblock %}

{% block body %}
	{{ parent() }}
	<div class="container mt-4 mb-4">
		<div class="d-flex justify-content-start align-items-baseline mb-4">
			<span class="fs-4 fw-semibold me-2">Mi cuenta</span>
		</div>

        
		<div id="menu_perfil_usuario_settings"></div>

	</div>

{% endblock %}
